
<header class="jumbotron header">

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-2 icon-back" >
				<a href="#card/{{responseCardNumber}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></div>
			<div class="col-xs-10 "><h5 >CitiBanamex Quick Lock</h5></div>
			<div class="col-xs-2 icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
		</div>
	</div>
</header>

<section class="container wrapper ">
	<div class="row">
		<div class="col-xs-12 text-center page-info paddingtop30"><h4>Temporarily lock and unlock your card</h4></div>
		<div class="card-list">

			<!-- card details loops starts here-->

			<div class="card-details" g-repeat="cardlistitem in carlistdata">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-6">

							<img ng-if="cardType=='Signature'" class="img-card img-responsive" src="images/simplicity.jpg" />
							<img ng-if="cardType=='Platinum'" class="img-card img-responsive" src="images/premiermiles.jpg" />
						</div>
						<div class="col-xs-6  switch-tab">
							<div>
								<span ng-if="cardStatus">Tap to lock </span>
								<span ng-if="!cardStatus">Tap to Unlock </span>
							</div>
							<div class="onoffswitch" ng-if="showtap">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{responseCardNumber}} "
									    ng-checked="cardStatus" ng-click="blockcard(responseCardNumber,!cardStatus)">
								<label class="onoffswitch-label" for="{{responseCardNumber}}">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>

						</div>
					</div>
				</div>
				<div class="col-xs-12 mT20 card-title">
					<div>{{cardType}} - {{responseCardNumber}}</div>
					<div class="card-owner bb">{{embosserName}}</div>
				</div>
			</div>
			<!-- Cardlist loop ends here -->

				<div class="row">
					<div class="row purchase-details">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 faq-wrapper">

									<div class="col-xs-12">
										<p>Permanently Lost or Stolen? Report it <i class="fa fa-phone pull-right txt-blue" aria-hidden="true"></i></p>
									</div>
								</div>
								<div class="faq-title">FAQ's</div>
								<div class="faq-part">
									<div class="col-xs-12 qa">
										<div class="row">
											<div class="qus col-xs-12">
												<div class="row">
													<div class="col-xs-10">Why Should I use Quick Lock?</div>
													<div class="col-xs-2"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
												</div>
											</div>
										</div>
										<div class="ans">
											Quick Lock allows you to lock your credit card from a mobile web app. If you cannot find one of your credit cards but are not sure it has been lost or stolen, you can use Quick Lock to lock your credit card while you look for it and potentially avoid fraudulent charges. If you are sure your card has been stolen or lost, lock your card and report it immediately.
										</div>
									</div>

									<div class="col-xs-12 qa">
										<div class="row">
											<div class="qus col-xs-12">
												<div class="row">
													<div class="col-xs-10">What hanppens When I Lock my card?</div>
													<div class="col-xs-2"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
												</div>
											</div>
										</div>
										<div class="ans">
											When your card its locked it cannot be used to make new purchases, payments or cash withdrawal. However, all recurrent payments such as monthly subscriptions will still be processed.
										</div>
									</div>

									<div class="col-xs-12 qa">
										<div class="row">
											<div class="qus col-xs-12">
												<div class="row">
													<div class="col-xs-10">Will recurring purchases (such as my Netflix subscription) continue if my card is locked?</div>
													<div class="col-xs-2"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
												</div>
											</div>
										</div>
										<div class="ans">Yes, all recurring purchases assigned to your credit card will continue to be charged when your card is locked</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>



		</div>
	</div>
</section>


<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-xs-12">
			&nbsp;
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			&nbsp;
		</div>
	</div>


	<footer>
		<ul>
			<li class="fa-blue ">
				<div><i class="fa fa-bars" aria-hidden="true"></i></div>
				<div>Accounts</div>
			</li>
			<li>
				<div><i class="fa fa-usd" aria-hidden="true"></i></div>
				<div>Payments</div>
			</li>
			<li>
				<div><i class="fa fa-life-ring" aria-hidden="true"></i></div>
				<div>Services</div>
			</li>
			<li>
				<div><i class="fa fa-cog" aria-hidden="true"></i></div>
				<div>Settings</div>
			</li>
		</ul>
	</footer>

	<script>
        var windowHeight = $(window).height();
        var setWrapperHeight = (windowHeight)-90;
        $(".wrapper").css("height", setWrapperHeight);

        $(".qa").click(function(){
            $(".ans").hide();
            $(this).find(".ans").show();
        });

	</script>
